<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if title %}{{ title | safe  }} | {% endif %}DepCtrl Browser</title>

<link rel="stylesheet" href="{{ "/assets/app.css" | url }}">

<meta name="referrer" content="no-referrer">
<meta name="format-detection" content="telephone=no">

<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title | safe  }} | {% endif %}DepCtrl Browser">
<meta property="og:site_name" content="DepCtrl Browser">
{% if author %}
<meta property="article:author" content="{{author}}">
{% endif %}
{% if description %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
{% endif %}
