<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>{{ title | safe }}</title>

{% if description %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
{% endif %}

<link rel="stylesheet" href="/static/css/simple.css">

<meta name="referrer" content="no-referrer">
<meta name="format-detection" content="telephone=no">

<meta property="og:type" content="website">
<meta property="og:title" content="{{ title | safe  }}">
<meta property="og:site_name" content="DependencyControl Browser">
{% if author %}
<meta property="article:author" content="{{author}}">
{% endif %}

