@import "../../node_modules/bootstrap/scss/functions";

// variable overrides


@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional parts
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";



// Custom code
main {
    padding-top: 4.5rem;
}

details {
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid darkgray;
    border-radius: 10px;
}

details summary::before { 
    content: "Show";
    font-weight: 500;
}

details[open] summary::before { 
    content: "Hide"; 
}
