<h1>List of all Macros</h1>
{% for macro in macros %}
  <li><a href="/feed/{{ macro.feedId | slug }}/macro/{{ macro.id | slug }}/">{{ macro.name }}</a> by {{ macro.author }}</li>
{% else %}
  <li>No Items</li>
{% endfor %}
