---
pagination:
    data: feeds
    size: 1
    alias: feed
permalink: "feed/{{ feed._sourceName | slug }}/"
layout: base.njk
eleventyComputed:
  title: "{{ feed.name }}"
  description: "{{ feed.description }}"
  author: "{{ feed.maintainer }}"
---

<p>{{ feed.description }}</p>
<p>Feed <a href="{{ feed.url }}">{{ feed._sourceName | slug }}</a> maintained by {{ feed.maintainer }} with format version {{ feed.dependencyControlFeedFormatVersion }}.</p>

<h3>Macros:</h3>
{% for macroId, macro in feed.macros %}
  <li><a href="/feed/{{ feed._sourceName | slug }}/macro/{{ macroId | slug }}/">{{ macro.name }}</a> by {{ macro.author }}</li>
{% else %}
  <li>No Items</li>
{% endfor %}

<h3>Modules:</h3>
{% for moduleId, module in feed.modules %}
  <li><a href="/feed/{{ module._originFeed | slug }}/module/{{ moduleId | slug }}/">{{ module.name }}</a> by {{ module.author }}</li>
{% else %}
  <li>No Items</li>
{% endfor %}
