<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        <header>
        <nav>
            <a href="{{ "/" | url }}">Home</a>
            <a href="{{ "/feeds/" | url }}">Feeds</a>
            <a href="{{ "/macros/" | url }}">Macros</a>
            <a href="{{ "/modules/" | url }}">Modules</a>
            <a href="https://github.com/seproDev/depctrl-browser">Github</a>
            <h1>DependencyControl Browser</h1>
        </nav>
        </header>
        {{ content | safe }}
    </body>
</html>
