---
pagination:
    data: feeds
    size: 1
    alias: feed
permalink: "feeds/{{ feed._identifier }}/"
layout: base.njk
eleventyComputed:
  title: "{{ feed.name }}"
  description: "{{ feed.description }}"
  author: "{{ feed.maintainer }}"
---
<h1>{{ feed.name }}</h1>
<p>{{ feed.description }}</p>
<p>Feed <a href="{{ feed.url }}">{{ feed.name }}</a> maintained by {{ feed.maintainer }} with format version {{ feed.dependencyControlFeedFormatVersion }}.</p>
<p>Fetched from: <a href="{{ feed._sourceUrl }}">{{ feed._sourceUrl }}</a></p>
{% if feed.invalid %}
<div class="alert alert-danger" role="alert">
Feed is invalid!
</div>
{% endif %}
{% if feed._defective %}
<div class="alert alert-warning" role="alert">
Feed may not be JSON compliant due to {{ feed._defective }}
</div>
{% endif %}

<h2>Macros:</h2>
{% set macros = feed.macros %}
{% if (macros | length) !== 0 %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Macro</th>
      <th scope="col">Namespace</th>
      <th scope="col">Author</th>
      <th scope="col">File Hash</th>
    </tr>
  </thead>
  <tbody>
    {% for macroNamespace, macro in feed.macros %}
      <tr>
        <th><a href="{{ ["/macros/" , macroNamespace, "/"] | join | url }}">{{ macro.name }}</a></th>
        <td>{{ macroNamespace }}</td>
        <td>{{ macro.author }}</td>
        <td>{% if macro._validHash %}✅{% else %}❌{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-secondary" role="alert">
  No Macros found!
</div>
{% endif %}

<h2>Modules:</h2>
{% set modules = feed.modules %}
{% if (modules | length) !== 0 %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Macro</th>
      <th scope="col">Namespace</th>
      <th scope="col">Author</th>
      <th scope="col">File Hash</th>
    </tr>
  </thead>
  <tbody>
    {% for modulesNamespace, module in feed.modules %}
      <tr>
        <th><a href="{{ ["/modules/" , modulesNamespace, "/"] | join | url }}">{{ module.name }}</a></th>
        <td>{{ modulesNamespace }}</td>
        <td>{{ module.author }}</td>
        <td>{% if module._validHash %}✅{% else %}❌{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-secondary" role="alert">
  No Modules found!
</div>
{% endif %}

<h2>Known Feeds:</h2>

{% if (feed.knownFeeds | length) !== 1 %}
<ul>
  {% for feedName, feedUrl in feed.knownFeeds %}
    <li>
    <a href="{{ ["/feeds/" , (feedUrl | toFeedIdentifier), "/"] | join | url }}">{{ feedName }}</a>
    <a role="button" class="badge btn btn-secondary" href="{{ ["/feeds/" , ( feedUrl | toFeedIdentifier ), "/"] | join | url }}">{{ feedUrl | toFeedIdentifier }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
<div class="alert alert-secondary" role="alert">
  This Feed links to no other feeds.
</div>
{% endif %}

