---
layout: base.njk
title: List of all Feeds
permalink: "feeds/"
---

{% for feed in feeds  | sort(false, false, 'name') %}
  <li><a href="/feed/{{ feed._identifier }}/">{{ feed.name }}</a> by {{ feed.maintainer }}</li>
{% else %}
  <li>No Items</li>
{% endfor %}
