---
pagination:
    data: macros
    size: 1
    alias: macro
permalink: "/feed/{{ macro._feedIdentifier }}/macro/{{ macro._namespace | slug }}/"
layout: base.njk
eleventyComputed:
  title: "{{ macro.name }}"
  description: "{{ macro.description }}"
  author: "{{ macro.author }}"
---

<p>{{ macro.description }}</p>
<p>Macro <a href="{{ macro.url }}">{{ macro._namespace }}</a> in feed <a href="/feed/{{ macro._feedIdentifier }}">{{ macro._feedName }}</a> by {{ macro.author }}.</p>

<h3>Channels:</h3>
{% for channel, info in macro.channels %}
<article>
<h4>{{ channel }}{% if info.default %}<small> (Default)</small>{% endif %}:</h4>
<p>Version {{ info.version }}
{% if info.released %} released {{ info.released }}{% endif %}
{% if info.platforms %} for {{ info.platforms | join(', ') }}{% endif %}
</p>
<details {% if info.default %}open{% endif %}>
  <summary>Required Modules</summary>
  <p>
    {% for module in info.requiredModules %}
      <li>
        <tt>{{ module.moduleName }}{% if module.version %}@{{ module.version }}{% endif %}</tt>
        {% if module.name %}({{ module.name }}){% endif %}
        {% if module.url %} <small>[<a href="{{ module.url }}">URL</a>]</small> {% endif %}
        {% if module.feed %} <small>[<a href="{{ module.feed }}">Feed</a>]</small> {% endif %}
      </li>
    {% else %}
      No modules required
    {% endfor %}
  </p>
</details>
<details {% if info.default %}open{% endif %}>
  <summary>Files</summary>
  <p>
    {% for file in info.files %}
      {% if not file.delete %}<li>
        <a href="{{ file.url }}">{{ file.name }}</a>:
        {% if file.type %} <small>[{{ file.type }}]</small> {% endif %}
        {% if file.platform %} <small>[{{ file.platform }}]</small> {% endif %}
        <small><code>{{ file.sha1 }}</code></small>
      </li>{% endif %}
    {% else %}
      Macro containes no files
    {% endfor %}
  </p>
</details>
</article>
{% endfor %}

<details open>
  <summary>Changelog</summary>
  <p>
    {% for version, changelog in macro.changelog | changelogSort %}
      <p><b>{{ version }}:</b> <br>
      {% for changelogLine in changelog %}
        <li>{{ changelogLine | markdownify | safe }}</li>
      {% endfor %}
      </p>
    {% else %}
      No changelog available
    {% endfor %}
  </p>
</details>