---
layout: base.njk
title: List of all Macros
permalink: "macros/"
---
<h1>List of all Macros</h1>
{% if (macros | length) !== 0 %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Macro</th>
      <th scope="col">Namespace</th>
      <th scope="col">Author</th>
      <th scope="col">Feed</th>
      <th scope="col">File Hash</th>
    </tr>
  </thead>
  <tbody>
    {% for macroList in macros | automationListSort %}
      {% if (macroList | length) === 1 %}
        {% set macro = macroList | first %}
        <tr {% if not macro._validHash %}class="table-danger"{% endif %}>
          <th><a href="{{ ["/macros/" , macro._namespace, "/"] | join | url }}">{{ macro.name }}</a></th>
          <td>{{ macro._namespace }}</td>
          <td>{{ macro.author }}</td>
          <td><a href="{{ ["/feeds/" , macro._feedIdentifier, "/"] | join | url }}">{{ macro._feedName }}</a> <a role="button" class="badge btn btn-secondary" href="{{ ["/feeds/" , macro._feedIdentifier, "/"] | join | url }}">{{ macro._feedIdentifier}}</a></td>
          <td>{% if macro._validHash %}✅{% else %}❌{% endif %}</td>
        </tr>
      {% else %}
        {% set firstMacro = macroList | first %}
        <tr {% if (macroList | singleValue("_validHash") === false ) and not firstMacro._validHash %}class="table-danger"{% endif %}>
          <th><a href="{{ ["/macros/" , firstMacro._namespace, "/"] | join | url }}">{{ macroList | singleValue("name") }}</a></th>
          <td>{{ firstMacro._namespace }}</td>
          <td>{{ macroList | singleValue("author") }}</td>
          <td>Multiple:
          {% for macro in macroList %}
            <a role="button" class="badge btn btn-secondary" href="{{ ["/feeds/" , macro._feedIdentifier, "/"] | join | url }}">{{ macro._feedIdentifier}}</a>
          {% endfor %}
          </td>
          <td>{% if (macroList | singleValue("_validHash") === true ) and firstMacro._validHash %}✅{% else %}❌{% endif %}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-danger" role="alert">
  No Macros found!
</div>
{% endif %}
