---
layout: base.njk
title: List of all Macros
permalink: "macros/"
---
<h2>List of all Macros</h2>
{% for macroList in macros | automationListSort %}
  {% if (macroList | length) == 1 %}
    {% set macro = macroList | first %}
    <li><a href="/macros/{{ macro._namespace }}/">{{ macro.name }}</a> by {{ macro.author }}</li>
  {% else %}
    {% set macro = macroList | first %}
    <li><a href="/macros/{{ macro._namespace }}/">{{ macro._namespace }}</a> <span style="color:red">({{macroList | length }} feeds)</span></li>
  {% endif %}
{% else %}
  <li>No Items</li>
{% endfor %}
