---
pagination:
    data: macros
    size: 1
    alias: macroList
permalink: "/macros/{{ (macroList | first)._namespace }}/"
layout: base.njk
eleventyComputed:
  title: "{{ (macroList | first).name }}"
  description: "{{ (macroList | first).description }}"
  author: "{{ (macroList | first).author }}"
---
{% if (macroList | length) !== 1 %}
<div class="alert alert-warning" role="alert">
  There is a namespace collision between the following macros:
</div>
{% endif %}
{% for macro in macroList %}
  <h1>{{ macro.name }}</h1>
  <p>{{ macro.description }}</p>
  <p>Macro <a href="{{ macro.url }}">{{ macro._namespace }}</a>
  in feed <a href="{{ ["/feeds/" , macro._feedIdentifier, "/"] | join | url }}">{{ macro._feedName }}</a>
  <a role="button" class="badge btn btn-secondary" href="{{ ["/feeds/" , macro._feedIdentifier, "/"] | join | url }}">{{ macro._feedIdentifier}}</a>
  by {{ macro.author }}.</p>

  <h2>Channels:</h2>
  {% for channel, info in macro.channels %}
  <h4>{{ channel }}{% if info.default %}<small> (Default)</small>{% endif %}:</h4>
  {% if not info.default %}<details><summary></summary>{% endif %}

  <p>Version: {{ info.version }}</p>

  {% if info.released %}<p>
  Release Date: {{ info.released }}
  </p>{% endif %}
  
  {% if info.platforms %} <p>
  Platforms:
  {% for platform in info.platforms  %}
  <span class="badge rounded-pill text-bg-primary">{{ platform}}</span>
  {% endfor %}
  </p>{% endif %}
    <h5>Required Modules:</h5>
    <p>
      {% if (info.requiredModules | length) !== 0 %}
      <ul>
      {% for module in info.requiredModules %}
        <li>
          <span class="font-monospace">{{ module.moduleName }}{% if module.version %}@{{ module.version }}{% endif %}</span>
          {% if module.name %}({{ module.name }}){% endif %}
          {% if module.url %}
          <a role="button" class="badge btn btn-primary" href="{{ module.url }}">URL</a>
          {% endif %}
          {% if module.feed %}
          <a role="button" class="badge btn btn-secondary" href="{{ ["/feeds/" , ( module.feed | toFeedIdentifier ), "/"] | join | url }}">{{ module.feed | toFeedIdentifier }}</a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <div class="alert alert-secondary" role="alert">
        No Modules Required
      </div>
      {% endif %}
    </p>
    <h5>Files:</h5>
    <p>
      {% if (info.files | length) !== 0 %}
      <ul>
      {% for file in info.files %}
        {% if not file.delete %}<li>
          <a href="{{ file.url }}">{{ file.name }}</a>:
          {% if file.type %}<span class="badge rounded-pill text-bg-info">{{ file.type | capitalize}}</span>{% endif %}
          {% if file.platform %}<span class="badge rounded-pill text-bg-primary">{{ file.platform }}</span>{% endif %}
          <code>{{ file.sha1 }}</code>
          {% if file._validHash %}✅{% else %}❌{% endif %}
        </li>{% endif %}
      {% endfor %}
      </ul>
      {% else %}
      <div class="alert alert-warning" role="alert">
        No Files in Macro
      </div>
      {% endif %}
    </p>
  {% if not info.default %}</details>{% endif %}
  {% endfor %}

  <h2>Changelog:</h2>
  <p>
    {% for version, changelog in macro.changelog | changelogSort %}
      <p><h4>{{ version }}:</h4>
      <ul>
      {% for changelogLine in changelog %}
        <li>{{ changelogLine | markdownify | safe }}</li>
      {% endfor %}
      </ul>
      </p>
    {% else %}
    <div class="alert alert-secondary" role="alert">
      No changelog Available
    </div>
    {% endfor %}
  </p>

  {% if macro._scriptData %}
  <h2>Script Data:</h2>
  <p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Feed Data</th>
        <th scope="col">Script Data</th>
        <th scope="col">Matches</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{ macro.name }}</td>
        <td>{{ macro._scriptData.name }}</td>
        <td>{% if macro._scriptData.name %}{% if macro.name === macro._scriptData.name %}✅{% else %}❌{% endif %}{% else %}❓{% endif %}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ macro.description }}</td>
        <td>{{ macro._scriptData.description }}</td>
        <td>{% if macro._scriptData.description %}{% if macro.description === macro._scriptData.description %}✅{% else %}❌{% endif %}{% else %}❓{% endif %}</td>
      </tr>
      <tr>
        <th>Author</th>
        <td>{{ macro.author }}</td>
        <td>{{ macro._scriptData.author }}</td>
        <td>{% if macro._scriptData.author %}{% if macro.author === macro._scriptData.author %}✅{% else %}❌{% endif %}{% else %}❓{% endif %}</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>{{ macro._defaultVersion }}</td>
        <td>{{ macro._scriptData.version }}</td>
        <td>{% if macro._scriptData.version %}{% if macro._defaultVersion === macro._scriptData.version %}✅{% else %}❌{% endif %}{% else %}❓{% endif %}</td>
      </tr>
      <tr>
        <th>Namespace</th>
        <td>{{ macro._namespace }}</td>
        <td>{{ macro._scriptData.namespace }}</td>
        <td>{% if macro._scriptData.namespace %}{% if macro._namespace === macro._scriptData.namespace %}✅{% else %}❌{% endif %}{% else %}❓{% endif %}</td>
      </tr>
      <tr>
        <th>Feed</th>
        <td>{{ macro._sourceUrl }}</td>
        <td>{{ macro._scriptData._feedData.feed }}</td>
        <td>{% if macro._scriptData._feedData.feed %}{% if macro._sourceUrl === macro._scriptData._feedData.feed %}✅{% else %}❌{% endif %}{% else %}❓{% endif %}</td>
      </tr>
    </tbody>
  </table>
  </p>

  {% endif %}

  {% if not loop.last %}<hr>{% endif %}

{% endfor %}
