---
layout: base.njk
title: List of all Modules
permalink: "modules/"
---
<h2>List of all Modules</h2>
{% for moduleList in modules | automationListSort %}
  {% if (moduleList | length) == 1 %}
    {% set module = moduleList | first %}
    <li><a href="/modules/{{ module._namespace }}/">{{ module.name }}</a> by {{ module.author }}</li>
  {% else %}
    {% set module = moduleList | first %}
    <li><a href="/modules/{{ module._namespace }}/">{{ module._namespace }}</a> <span style="color:red">({{moduleList | length }} feeds)</span></li>
  {% endif %}
{% else %}
  <li>No Items</li>
{% endfor %}
