---
layout: base.njk
title: List of all Modules
permalink: "modules/"
---

{% for module in modules | sort(false, false, 'name') %}
  <li><a href="/feed/{{ module._feedIdentifier }}/module/{{ module._namespace | slug }}/">{{ module.name }}</a> by {{ module.author }}</li>
{% else %}
  <li>No Items</li>
{% endfor %}
