---
layout: base.njk
title: Recent Updates
permalink: "updates/"
---
<h1>Recent Updates</h1>
{% if (updates | length) !== 0 %}
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Macro</th>
      <th scope="col">Version</th>
      <th scope="col">Date</th>
      <th scope="col">Changelog</th>
    </tr>
  </thead>
  <tbody>
    {% for update in updates | updateListSort %}
      <tr>
        <th><a href="{{ ["/macros/" , update.namespace, "/"] | join | url }}">{{ update.name }}</a></th>
        <td>{{ update.version }}</td>
        <td>{{ update.releaseDate }}</td>
        <td>{{ update.changelog }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  No Macros found!
</div>
{% endif %}
