---
pagination:
    data: macros
    size: 1
    alias: macro
permalink: "/feed/{{ macro.feedId | slug }}/macro/{{ macro.id | slug }}/"
layout: base.njk
eleventyComputed:
  title: "{{ macro.name }}"
  description: "{{ macro.description }}"
  author: "{{ macro.author }}"
---

By {{ macro.author }}
<p>{{ macro.description }}</p>

<code>
{{ macro | dump }}
</code>
