---
pagination:
    data: modules
    size: 1
    alias: module
permalink: "/feed/{{ module.feedId | slug }}/module/{{ module.id | slug }}/"
layout: base.njk
eleventyComputed:
  title: "{{ module.name }}"
  description: "{{ module.description }}"
  author: "{{ module.author }}"
---

By {{ module.author }}
<p>{{ module.description }}</p>

<code>
{{ module | dump }}
</code>
